In [1]:
import pandas as pd

In [2]:
pd.read_json('Telco-Customer-Churn.json')

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [3]:
import json
with open('Telco-Customer-Churn.json') as f:
    json_bruto = json.load(f)
df = pd.json_normalize(json_bruto)
df

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

## InformaÃ§Ãµes dos dados

Os dados trabalham sobre, principalmente, o Churn dos clientes da empresa, detalhando o sexo, informaÃ§Ãµes sobre serem senis, tempo de fidelidade, e outros aspectos como os serviÃ§os que foram prestados a eles, tipo de contrato, pagamento, preÃ§o, etc. Os dados serÃ£o aplicados em ML para conseguir aprender sob quais circunstÃ¢cias o churn costuma ter mais frequÃªncia, a fim de diminuir o mesmo.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### Dados Nulos e Vazios:

In [5]:
df.isnull().sum().sum()

0

In [6]:
for col in df.columns:
    if (df[col] == '').any():
        print(f'Coluna: {col}: ')
    else:
        print(0)

0
Coluna: Churn:
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [7]:
for col in df.columns:
    if (df[col] == ' ').any():
        print(f'Coluna: {col}: ')
    else:
        print(0)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Coluna: account.Charges.Total:

In [8]:
churn_vazio = df[df['Churn'] == '']
churn_vazio[['Churn']]

     Churn
30
75
96
98
175
...    ...
7158
7180
7211
7239
7247

[224 rows x 1 columns]

In [9]:
contas_total_vazio = df[df['account.Charges.Total'] == ' ']
contas_total_vazio[['account.Charges.Total']]

     account.Charges.Total
975
1775
1955
2075
2232
2308
2930
3134
3203
4169
5599

### Outliers e Duplicatas:

In [10]:
df.describe()

       customer.SeniorCitizen  customer.tenure  account.Charges.Monthly
count             7267.000000      7267.000000              7267.000000
mean                 0.162653        32.346498                64.720098
std                  0.369074        24.571773                30.129572
min                  0.000000         0.000000                18.250000
25%                  0.000000         9.000000                35.425000
50%                  0.000000        29.000000                70.300000
75%                  0.000000        55.000000                89.875000
max                  1.000000        72.000000               118.750000

In [11]:
def calcula_outliers(dataframe, coluna):
    Q1 = dataframe[coluna].quantile(.25)
    Q3 = dataframe[coluna].quantile(.75)
    IQR = Q3 - Q1
    valor_min = Q1 - IQR*1.5
    valor_max = Q3 + IQR*1.5
    
    outlier = (dataframe[coluna] < valor_min) | (dataframe[coluna] > valor_max)
    return outlier

In [12]:
outliers_index = calcula_outliers(df, 'customer.tenure')
outliers_index

0       False
1       False
2       False
3       False
4       False
        ...
7262    False
7263    False
7264    False
7265    False
7266    False
Name: customer.tenure, Length: 7267, dtype: bool

In [13]:
df[outliers_index]['customer.tenure']

Series([], Name: customer.tenure, dtype: int64)

In [14]:
outliers_index = calcula_outliers(df, 'account.Charges.Monthly')
df[outliers_index]['account.Charges.Monthly']

Series([], Name: account.Charges.Monthly, dtype: float64)

In [15]:
df.duplicated().sum()

0

NÃ£o hÃ¡ outliers nas colunas conferidas, duplicatas, ou dados nulos, mas existem dados vazios nas colunas Churn e account.Charges.Total, agora para conferir se encontrarei outliers nesta Ãºltima coluna, teremos que tratar dos dados vazios, como ele Ã© o resultado de toda a receita do cliente durante a vida, basta mutiplicar os dados que equivalem ao preÃ§o por mÃªs com o tempo total do cliente com a empresa, jÃ¡ os dados vazios do churn nÃ£o Ã© possÃ­vel substituÃ­-los, entÃ£o terei de removÃª-los. TambÃ©m hÃ¡ de se notar que nÃ£o existem colunas duplicadas.

In [16]:
df_limpo = df.drop(churn_vazio.index).copy()
df_limpo

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [17]:
df_limpo.reset_index(drop=True, inplace=True)
contas_total_vazio = df_limpo['account.Charges.Total'] == ' '
df_limpo[contas_total_vazio][
    ['account.Charges.Total', 'customer.tenure', 'account.Charges.Monthly']
    ]

     account.Charges.Total  customer.tenure  account.Charges.Monthly
945                                       0                    56.05
1731                                      0                    20.00
1906                                      0                    61.90
2025                                      0                    19.70
2176                                      0                    20.25
2250                                      0                    25.35
2855                                      0                    73.35
3052                                      0                    25.75
3118                                      0                    52.55
4054                                      0                    80.85
5433                                      0                    19.85

In [18]:
ternure_nulo = df_limpo['customer.tenure'] == 0
df_limpo[ternure_nulo][
    ['account.Charges.Total', 'customer.tenure', 'account.Charges.Monthly', 'account.Contract', 'Churn']
    ]

,account.Charges.Total,customer.tenure,account.Charges.Monthly,account.Contract,Churn
945,,0,56.05,Two year,No
1731,,0,20.00,Two year,No
1906,,0,61.90,Two year,No
2025,,0,19.70,One year,No
2176,,0,20.25,Two year,No
2250,,0,25.35,Two year,No
2855,,0,73.35,Two year,No
3052,,0,25.75,Two year,No
3118,,0,52.55,Two year,No
4054,,0,80.85,Two year,No
5433,,0,19.85,Two year,No

Aqui as colunas em que o total sÃ£o vazias sÃ£o as mesmas que o tempo do cliente com a empresa juntos estÃ¡ equivalendo a zero, mas todas tambÃ©m possuem o contrato de 2 anos, o que me faz chegar na ideia que posso tratar os dados de duas formas: removÃª-los, o que fariam os dados serm perdidos no caminho, ou tentar tratar eles baseado nos contratos de dois anos.

In [19]:
contrato_dois_anos = df_limpo['account.Contract'] == 'Two year'
df_limpo[contrato_dois_anos].describe()

       customer.SeniorCitizen  customer.tenure  account.Charges.Monthly
count             1695.000000      1695.000000              1695.000000
mean                 0.085546        56.735103                60.770413
std                  0.279775        18.209363                34.678865
min                  0.000000         0.000000                18.400000
25%                  0.000000        48.000000                24.025000
50%                  0.000000        64.000000                64.350000
75%                  0.000000        71.000000                90.450000
max                  1.000000        72.000000               118.750000

In [20]:
df_aux = df_limpo.drop(df_limpo[contas_total_vazio].index).copy()
df_aux[df_aux['account.Contract'] == 'Two year'].describe()

       customer.SeniorCitizen  customer.tenure  account.Charges.Monthly
count             1685.000000       1685.00000              1685.000000
mean                 0.086053         57.07181                60.872374
std                  0.280526         17.72913                34.712210
min                  0.000000          1.00000                18.400000
25%                  0.000000         48.00000                24.050000
50%                  0.000000         64.00000                64.450000
75%                  0.000000         71.00000                90.550000
max                  1.000000         72.00000               118.750000

In [21]:
df_contrato_two_year = df_aux[df_aux['account.Contract'] == 'Two year']
outliers_contrato_two_year = calcula_outliers(df_contrato_two_year, 'customer.tenure')
df_contrato_two_year[outliers_contrato_two_year]

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
38,0064-SUDOG,No,Female,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.30,224.5
132,0224-NIJLP,No,Male,0,Yes,Yes,8,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.15,165.5
208,0323-XWWTN,No,Male,0,No,Yes,3,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,26.40,121.25
309,0458-HEUZG,No,Female,0,No,No,13,No,No phone service,DSL,...,No,Yes,Yes,No,No,Two year,No,Mailed check,35.40,450.4
328,0486-LGCCH,No,Male,0,Yes,Yes,11,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.65,225.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6467,9152-AMKAK,No,Male,0,No,No,6,Yes,No,DSL,...,No,Yes,Yes,Yes,Yes,Two year,Yes,Mailed check,80.25,493.4
6575,9350-ZXYJC,No,Female,0,No,No,4,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),25.30,116.95
6631,9424-CMPOG,No,Male,0,Yes,Yes,9,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.60,197.4
6727,9553-DLCLU,No,Female,0,No,Yes,13,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),88.95,1161.75
6996,9928-BZVLZ,No,Female,0,No,No,12,No,No phone service,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,49.85,552.1

Considerando que todos os casos nÃ£o hÃ¡ Churn, o desvio-padrÃ£o consideravelmente alto, porÃ©m um max que nÃ£o foge, jÃ¡ um min que foge 69x dele, vemos que ele tem uma margem de 4,1% de outliers, ao retirÃ¡-los:

In [22]:
df_aux_sem_out = df_contrato_two_year.drop(df_contrato_two_year[outliers_contrato_two_year].index).copy()
filtro_contrato_churn = (df_aux_sem_out['account.Contract'] == 'Two year') & (df_aux_sem_out['Churn'] == 'No')
df_filtrado = df_aux_sem_out.loc[filtro_contrato_churn]
df_filtrado.describe()

       customer.SeniorCitizen  customer.tenure  account.Charges.Monthly
count             1568.000000      1568.000000              1568.000000
mean                 0.088648        59.073980                61.483450
std                  0.284326        15.029251                34.520375
min                  0.000000        14.000000                18.400000
25%                  0.000000        51.000000                24.250000
50%                  0.000000        65.000000                65.175000
75%                  0.000000        71.000000                90.462500
max                  1.000000        72.000000               118.750000

Percebe-se que tambÃ©m a quantia de contratos de dois anos que nÃ£o possui o Churn com e sem os outliers Ã© dominante, sendo de cerca de 97%. TambÃ©m pode-se notar que houve um certo "boom" no perÃ­odo entre 3 e 2 anos antes da coleta dos dados no contrato de dois anos (3 anos antes da coleta sendo o inÃ­cio de quando os dados comeÃ§aram a entrar), e houve uma repentina queda da assinatura desse contrato. Pela Ã­nfima quantidade de dados vazios que estou trabalhando (11 no total), e apesar da alta chance de eles serem desse perÃ­odo de 2/3 anos antes da coleta dos dados, nÃ£o hÃ¡ nada que possa confirmar isso, eu optei por tirÃ¡-los do dataframe, e irei trabalhar sem eles, porÃ©m com os outliers, que apesar de fugirem muito do desvio-padrÃ£o, dado ao contexto, sÃ£o dados vÃ¡lidos.

In [23]:
df_aux['account.Charges.Total'] = df_aux['account.Charges.Total'].str.replace(r'[^0-9]', '', regex=True)

In [24]:
import numpy as np
df_aux['account.Charges.Total'] = df_aux['account.Charges.Total'].astype(np.float64)
df_aux.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7032 non-null   object
 1   Churn                      7032 non-null   object
 2   customer.gender            7032 non-null   object
 3   customer.SeniorCitizen     7032 non-null   int64
 4   customer.Partner           7032 non-null   object
 5   customer.Dependents        7032 non-null   object
 6   customer.tenure            7032 non-null   int64
 7   phone.PhoneService         7032 non-null   object
 8   phone.MultipleLines        7032 non-null   object
 9   internet.InternetService   7032 non-null   object
 10  internet.OnlineSecurity    7032 non-null   object
 11  internet.OnlineBackup      7032 non-null   object
 12  internet.DeviceProtection  7032 non-null   object
 13  internet.TechSupport       7032 non-null   object
 14  internet.StreamingTV       7032 non-null   object
 15  internet.StreamingMovies   7032 non-null   object
 16  account.Contract           7032 non-null   object
 17  account.PaperlessBilling   7032 non-null   object
 18  account.PaymentMethod      7032 non-null   object
 19  account.Charges.Monthly    7032 non-null   float64
 20  account.Charges.Total      7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [25]:
df_aux.describe()

,customer.SeniorCitizen,customer.tenure,account.Charges.Monthly,account.Charges.Total
count,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.162400,32.421786,64.798208,126251.908419
std,0.368844,24.545260,30.085974,192523.026544
min,0.000000,1.000000,18.250000,19.000000
25%,0.000000,9.000000,35.587500,7562.000000
50%,0.000000,29.000000,70.350000,36769.000000
75%,0.000000,55.000000,89.862500,143010.000000
max,1.000000,72.000000,118.750000,867245.000000

In [26]:
outliers_total = calcula_outliers(df_aux, 'account.Charges.Total')
df_aux[outliers_total]

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
6,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,790425.0
11,0017-IUDMW,No,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),116.80,845675.0
13,0019-EFAEP,No,Female,0,No,No,72,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,No,Two year,Yes,Bank transfer (automatic),101.30,726125.0
26,0036-IHMOT,No,Female,0,Yes,Yes,55,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),103.70,565675.0
32,0052-DCKON,No,Male,0,Yes,No,66,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,One year,No,Bank transfer (automatic),115.80,794215.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019,9959-WOFKT,No,Male,0,No,Yes,71,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Two year,No,Bank transfer (automatic),106.70,738225.0
7025,9968-FFVVH,No,Male,0,No,No,63,Yes,Yes,DSL,...,Yes,Yes,Yes,No,No,One year,No,Bank transfer (automatic),68.80,411135.0
7030,9972-VAFJJ,No,Female,1,Yes,No,53,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,No,One year,Yes,Electronic check,94.00,487145.0
7034,9978-HYCIN,No,Male,1,Yes,Yes,47,Yes,No,Fiber optic,...,Yes,No,No,Yes,No,One year,Yes,Bank transfer (automatic),84.95,401805.0
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,462765.0

In [27]:
df_aux.loc[outliers_total, 'account.Charges.Total'] = df_aux.loc[outliers_total, 'account.Charges.Monthly'] * df_aux.loc[outliers_total, 'customer.tenure']
df_aux[outliers_total][
    ['account.Charges.Total', 'account.Charges.Monthly', 'customer.tenure']
]

      account.Charges.Total  account.Charges.Monthly  customer.tenure
6                   7788.70                   109.70               71
11                  8409.60                   116.80               72
13                  7293.60                   101.30               72
26                  5703.50                   103.70               55
32                  7642.80                   115.80               66
...                     ...                      ...              ...
7019                7575.70                   106.70               71
7025                4334.40                    68.80               63
7030                4982.00                    94.00               53
7034                3992.65                    84.95               47
7041                4545.95                    67.85               67

[977 rows x 3 columns]

In [28]:
df_aux[outliers_total].describe()

,customer.SeniorCitizen,customer.tenure,account.Charges.Monthly,account.Charges.Total
count,977.000000,977.000000,977.000000,977.000000
mean,0.230297,60.076766,92.502712,5538.743142
std,0.421238,10.444587,15.330243,1323.788440
min,0.000000,32.000000,49.200000,3340.750000
25%,0.000000,52.000000,81.250000,4399.500000
50%,0.000000,62.000000,94.800000,5428.800000
75%,0.000000,70.000000,104.900000,6512.400000
max,1.000000,72.000000,118.750000,8550.000000

In [29]:
outliers_total = calcula_outliers(df_aux, 'account.Charges.Total')
df_aux[outliers_total]

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
10,0017-DINOC,No,Male,0,No,No,54,No,No phone service,DSL,...,No,No,Yes,Yes,No,Two year,No,Credit card (automatic),45.20,246055.0
22,0027-KWYKW,No,Female,0,Yes,Yes,23,Yes,Yes,Fiber optic,...,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,83.75,184995.0
30,0048-LUMLS,No,Male,0,Yes,Yes,37,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,One year,No,Credit card (automatic),91.20,324755.0
41,0068-FIGTF,No,Female,0,No,No,27,Yes,No,DSL,...,Yes,Yes,Yes,Yes,Yes,One year,No,Mailed check,78.20,207895.0
56,0096-FCPUF,No,Male,0,No,No,30,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,Yes,Mailed check,64.50,188845.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6990,9921-EZKBY,No,Male,0,No,Yes,33,Yes,Yes,Fiber optic,...,No,Yes,No,No,Yes,Month-to-month,Yes,Bank transfer (automatic),95.30,327515.0
6991,9921-QFQUL,No,Female,0,Yes,No,23,Yes,Yes,Fiber optic,...,No,Yes,No,No,Yes,Month-to-month,No,Mailed check,90.15,204495.0
6995,9927-DSWDF,No,Male,0,Yes,No,22,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.60,218055.0
6999,9931-KGHOA,No,Female,0,Yes,No,46,Yes,Yes,DSL,...,No,No,No,No,No,Month-to-month,No,Bank transfer (automatic),55.00,247395.0
7013,9948-YPTDG,Yes,Male,0,Yes,No,38,Yes,No,Fiber optic,...,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,79.45,301305.0

In [30]:
df_aux.loc[outliers_total, 'account.Charges.Total'] = df_aux.loc[outliers_total, 'account.Charges.Monthly'] * df_aux.loc[outliers_total, 'customer.tenure']
df_aux[outliers_total][
    ['account.Charges.Total', 'account.Charges.Monthly', 'customer.tenure']
]

      account.Charges.Total  account.Charges.Monthly  customer.tenure
10                  2440.80                    45.20               54
22                  1926.25                    83.75               23
30                  3374.40                    91.20               37
41                  2111.40                    78.20               27
56                  1935.00                    64.50               30
...                     ...                      ...              ...
6990                3144.90                    95.30               33
6991                2073.45                    90.15               23
6995                2301.20                   104.60               22
6999                2530.00                    55.00               46
7013                3019.10                    79.45               38

[760 rows x 3 columns]

In [31]:
df_aux.describe()

,customer.SeniorCitizen,customer.tenure,account.Charges.Monthly,account.Charges.Total
count,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.162400,32.421786,64.798208,25172.697540
std,0.368844,24.545260,30.085974,32958.315374
min,0.000000,1.000000,18.250000,19.000000
25%,0.000000,9.000000,35.587500,3247.200000
50%,0.000000,29.000000,70.350000,7979.800000
75%,0.000000,55.000000,89.862500,37526.750000
max,1.000000,72.000000,118.750000,146065.000000

In [32]:
df_aux['account.Charges.Total'] = df_aux['account.Charges.Monthly'] * df_aux['customer.tenure']
df_aux.describe()

,customer.SeniorCitizen,customer.tenure,account.Charges.Monthly,account.Charges.Total
count,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.162400,32.421786,64.798208,2283.147248
std,0.368844,24.545260,30.085974,2264.703327
min,0.000000,1.000000,18.250000,18.800000
25%,0.000000,9.000000,35.587500,397.800000
50%,0.000000,29.000000,70.350000,1394.575000
75%,0.000000,55.000000,89.862500,3791.250000
max,1.000000,72.000000,118.750000,8550.000000

Aqui eu realizei um teste que se mostrou funcionando, eu tentei outras maneiras de ficar repetindo a funÃ§Ã£o de chamar apenas os outliers, mas acontece que em algum momento estagnava fora do limite possÃ­vel, que Ã© o de 8550, pois Ã© a multiplicaÃ§Ã£o do limite max de 'customer.tenure' com 'account.Charges.Monthly', e apÃ³s analisar e ver que eles sÃ£o dados confiÃ¡veis, optei por resetar toda a coluna do 'account.Charges.Total' que possuia muitos dados incoerentes.

### Dados CategÃ³ricos:

In [33]:
df_aux

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,590.40
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,539.10
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,295.60
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1274.00
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,251.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,716.95
7039,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1872.20
7040,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,100.60
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4545.95
7042,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3717.00

In [34]:
variaveis_categoricas_binarias = []
for col in df_aux.columns:
    print(f'Coluna {col}: {df_aux[col].unique()}')
    if (len(df_aux[col].unique()) == 2):
        variaveis_categoricas_binarias.append(col)
print(variaveis_categoricas_binarias)

Coluna customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Coluna Churn: ['No' 'Yes']
Coluna customer.gender: ['Female' 'Male']
Coluna customer.SeniorCitizen: [0 1]
Coluna customer.Partner: ['Yes' 'No']
Coluna customer.Dependents: ['Yes' 'No']
Coluna customer.tenure: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]
Coluna phone.PhoneService: ['Yes' 'No']
Coluna phone.MultipleLines: ['No' 'Yes' 'No phone service']
Coluna internet.InternetService: ['DSL' 'Fiber optic' 'No']
Coluna internet.OnlineSecurity: ['No' 'Yes' 'No internet service']
Coluna internet.OnlineBackup: ['Yes' 'No' 'No internet service']
Coluna internet.DeviceProtection: ['No' 'Yes' 'No internet service']
Coluna internet.TechSupport: ['Yes' 'No' 'No internet service']
Coluna internet.StreamingTV: ['Yes' 'No' 'No internet service']
Coluna internet.StreamingMovies: ['No' 'Yes' 'No internet service']
Coluna account.Contract: ['One year' 'Month-to-month' 'Two year']
Coluna account.PaperlessBilling: ['Yes' 'No']
Coluna account.PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Coluna account.Charges.Monthly: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Coluna account.Charges.Total: [ 590.4   539.1   295.6  ... 1872.2  4545.95 3717.  ]
['Churn', 'customer.gender', 'customer.SeniorCitizen', 'customer.Partner', 'customer.Dependents', 'phone.PhoneService', 'account.PaperlessBilling']

In [35]:
variaveis_categoricas_binarias.remove('customer.SeniorCitizen')
mapeamento = {'Yes': 1, 'No': 0, 'Male': 0, 'Female': 1}
df_aux[variaveis_categoricas_binarias] = df_aux[variaveis_categoricas_binarias].replace(mapeamento)
df_aux

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,0,1,0,1,1,9,1,No,DSL,...,Yes,No,Yes,Yes,No,One year,1,Mailed check,65.60,590.40
1,0003-MKNFE,0,0,0,0,0,9,1,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,0,Mailed check,59.90,539.10
2,0004-TLHLJ,1,0,0,0,0,4,1,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,1,Electronic check,73.90,295.60
3,0011-IGKFF,1,0,1,1,0,13,1,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.00,1274.00
4,0013-EXCHZ,1,1,1,1,0,3,1,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.90,251.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,0,1,0,0,0,13,1,No,DSL,...,No,No,Yes,No,No,One year,0,Mailed check,55.15,716.95
7039,9992-RRAMN,1,0,0,1,0,22,1,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,1,Electronic check,85.10,1872.20
7040,9992-UJOEL,0,0,0,0,0,2,1,No,DSL,...,Yes,No,No,No,No,Month-to-month,1,Mailed check,50.30,100.60
7041,9993-LHIEB,0,0,0,1,1,67,1,No,DSL,...,No,Yes,Yes,No,Yes,Two year,0,Mailed check,67.85,4545.95
7042,9995-HOTOH,0,0,0,1,1,63,0,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,0,Electronic check,59.00,3717.00

Transformadas em 0 e 1 os dados categÃ³ricos binÃ¡rios, agora trabalharei com os nominais, jÃ¡ que nÃ£o existem ordinais nesse dataframe, comeÃ§ando pelo customerID que nÃ£o possui nenhuma funÃ§Ã£o para o aprendizado da mÃ¡quina jÃ¡ que se trata apenas de uma identificaÃ§Ã£o de cada usuÃ¡rio, apÃ³s isso irei usar o mÃ©todo get_dummies para transformar as colunas restantes em binÃ¡rias.

In [36]:
df_aux.drop(columns=['customerID'], inplace=True)
df_aux

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0,1,0,1,1,9,1,No,DSL,No,Yes,No,Yes,Yes,No,One year,1,Mailed check,65.60,590.40
1,0,0,0,0,0,9,1,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,0,Mailed check,59.90,539.10
2,1,0,0,0,0,4,1,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,1,Electronic check,73.90,295.60
3,1,0,1,1,0,13,1,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.00,1274.00
4,1,1,1,1,0,3,1,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.90,251.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,0,0,0,13,1,No,DSL,Yes,No,No,Yes,No,No,One year,0,Mailed check,55.15,716.95
7039,1,0,0,1,0,22,1,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,1,Electronic check,85.10,1872.20
7040,0,0,0,0,0,2,1,No,DSL,No,Yes,No,No,No,No,Month-to-month,1,Mailed check,50.30,100.60
7041,0,0,0,1,1,67,1,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,0,Mailed check,67.85,4545.95
7042,0,0,0,1,1,63,0,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,0,Electronic check,59.00,3717.00

In [37]:
df_aux.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Churn                      7032 non-null   int64
 1   customer.gender            7032 non-null   int64
 2   customer.SeniorCitizen     7032 non-null   int64
 3   customer.Partner           7032 non-null   int64
 4   customer.Dependents        7032 non-null   int64
 5   customer.tenure            7032 non-null   int64
 6   phone.PhoneService         7032 non-null   int64
 7   phone.MultipleLines        7032 non-null   object
 8   internet.InternetService   7032 non-null   object
 9   internet.OnlineSecurity    7032 non-null   object
 10  internet.OnlineBackup      7032 non-null   object
 11  internet.DeviceProtection  7032 non-null   object
 12  internet.TechSupport       7032 non-null   object
 13  internet.StreamingTV       7032 non-null   object
 14  internet.StreamingMovies   7032 non-null   object
 15  account.Contract           7032 non-null   object
 16  account.PaperlessBilling   7032 non-null   int64
 17  account.PaymentMethod      7032 non-null   object
 18  account.Charges.Monthly    7032 non-null   float64
 19  account.Charges.Total      7032 non-null   float64
dtypes: float64(2), int64(8), object(10)
memory usage: 1.1+ MB

In [38]:
df_dummies = pd.get_dummies(df_aux, dtype=np.int64).copy()
df_dummies

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,account.PaperlessBilling,account.Charges.Monthly,account.Charges.Total,...,internet.StreamingMovies_No,internet.StreamingMovies_No internet service,internet.StreamingMovies_Yes,account.Contract_Month-to-month,account.Contract_One year,account.Contract_Two year,account.PaymentMethod_Bank transfer (automatic),account.PaymentMethod_Credit card (automatic),account.PaymentMethod_Electronic check,account.PaymentMethod_Mailed check
0,0,1,0,1,1,9,1,1,65.60,590.40,...,1,0,0,0,1,0,0,0,0,1
1,0,0,0,0,0,9,1,0,59.90,539.10,...,0,0,1,1,0,0,0,0,0,1
2,1,0,0,0,0,4,1,1,73.90,295.60,...,1,0,0,1,0,0,0,0,1,0
3,1,0,1,1,0,13,1,1,98.00,1274.00,...,0,0,1,1,0,0,0,0,1,0
4,1,1,1,1,0,3,1,1,83.90,251.70,...,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,0,0,0,13,1,0,55.15,716.95,...,1,0,0,0,1,0,0,0,0,1
7039,1,0,0,1,0,22,1,1,85.10,1872.20,...,0,0,1,1,0,0,0,0,1,0
7040,0,0,0,0,0,2,1,1,50.30,100.60,...,1,0,0,1,0,0,0,0,0,1
7041,0,0,0,1,1,67,1,0,67.85,4545.95,...,0,0,1,0,0,1,0,0,0,1
7042,0,0,0,1,1,63,0,0,59.00,3717.00,...,0,0,1,0,0,1,0,0,1,0

In [39]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 41 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Churn                                            7032 non-null   int64
 1   customer.gender                                  7032 non-null   int64
 2   customer.SeniorCitizen                           7032 non-null   int64
 3   customer.Partner                                 7032 non-null   int64
 4   customer.Dependents                              7032 non-null   int64
 5   customer.tenure                                  7032 non-null   int64
 6   phone.PhoneService                               7032 non-null   int64
 7   account.PaperlessBilling                         7032 non-null   int64
 8   account.Charges.Monthly                          7032 non-null   float64
 9   account.Charges.Total                            7032 non-null   float64
 10  phone.MultipleLines_No                           7032 non-null   int64
 11  phone.MultipleLines_No phone service             7032 non-null   int64
 12  phone.MultipleLines_Yes                          7032 non-null   int64
 13  internet.InternetService_DSL                     7032 non-null   int64
 14  internet.InternetService_Fiber optic             7032 non-null   int64
 15  internet.InternetService_No                      7032 non-null   int64
 16  internet.OnlineSecurity_No                       7032 non-null   int64
 17  internet.OnlineSecurity_No internet service      7032 non-null   int64
 18  internet.OnlineSecurity_Yes                      7032 non-null   int64
 19  internet.OnlineBackup_No                         7032 non-null   int64
 20  internet.OnlineBackup_No internet service        7032 non-null   int64
 21  internet.OnlineBackup_Yes                        7032 non-null   int64
 22  internet.DeviceProtection_No                     7032 non-null   int64
 23  internet.DeviceProtection_No internet service    7032 non-null   int64
 24  internet.DeviceProtection_Yes                    7032 non-null   int64
 25  internet.TechSupport_No                          7032 non-null   int64
 26  internet.TechSupport_No internet service         7032 non-null   int64
 27  internet.TechSupport_Yes                         7032 non-null   int64
 28  internet.StreamingTV_No                          7032 non-null   int64
 29  internet.StreamingTV_No internet service         7032 non-null   int64
 30  internet.StreamingTV_Yes                         7032 non-null   int64
 31  internet.StreamingMovies_No                      7032 non-null   int64
 32  internet.StreamingMovies_No internet service     7032 non-null   int64
 33  internet.StreamingMovies_Yes                     7032 non-null   int64
 34  account.Contract_Month-to-month                  7032 non-null   int64
 35  account.Contract_One year                        7032 non-null   int64
 36  account.Contract_Two year                        7032 non-null   int64
 37  account.PaymentMethod_Bank transfer (automatic)  7032 non-null   int64
 38  account.PaymentMethod_Credit card (automatic)    7032 non-null   int64
 39  account.PaymentMethod_Electronic check           7032 non-null   int64
 40  account.PaymentMethod_Mailed check               7032 non-null   int64
dtypes: float64(2), int64(39)
memory usage: 2.3 MB

### Traduzindo Colunas:

In [40]:
dicionario_nome_colunas = { 
'gender': 'gÃªnero', 
'SeniorCitizen': 'idoso',
'Partner': 'tem_parceiro',
'Dependents': 'tem_dependentes',
'tenure': 'meses_de_contrato',
'PhoneService': 'servico_telefonico',
'MultipleLines': 'multiplas_linhas',
'InternetService': 'servico_de_internet',
'OnlineSecurity': 'seguranca_online',
'OnlineBackup': 'backup_online',
'DeviceProtection': 'protecao_de_dispositivo',
'TechSupport': 'suporte_tecnico',
'StreamingTV': 'TV_a_cabo',
'StreamingMovies': 'assinatura_streaming',
'Contract': 'tipo_de_contrato',
'PaperlessBilling': 'fatura_online',
'PaymentMethod': 'forma_de_pagamento',
'Charges.Monthly': 'valor_por_mes',
'Charges.Total': 'valor_total',
'No internet service': 'sem_servico_internet',
'No phone service': 'sem_servico_telefone',
'Fiber optic': 'fibra_optica',
'customer': 'cliente',
'phone': 'telefone',
'account': 'conta',
'No': 'nao',
'Yes': 'sim',
'Month-to-month': 'mes_a_mes',
'One year': 'um_ano',
'Two year': 'dois_anos',
'Bank transfer': 'transferencia_bancaria',
'Credit card': 'cartao_de_credito',
'Electronic check': 'cheque_eletronico',
'Mailed check': 'cheque_por_correio',
'automatic': 'automatico'
}

In [41]:
for coluna_original, traducao in dicionario_nome_colunas.items():
    df_dummies.columns = df_dummies.columns.str.replace(coluna_original, traducao)
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 41 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Churn                                                         7032 non-null   int64
 1   cliente.gÃªnero                                                7032 non-null   int64
 2   cliente.idoso                                                 7032 non-null   int64
 3   cliente.tem_parceiro                                          7032 non-null   int64
 4   cliente.tem_dependentes                                       7032 non-null   int64
 5   cliente.meses_de_contrato                                     7032 non-null   int64
 6   telefone.servico_telefonico                                   7032 non-null   int64
 7   conta.fatura_online                                           7032 non-null   int64
 8   conta.valor_por_mes                                           7032 non-null   float64
 9   conta.valor_total                                             7032 non-null   float64
 10  telefone.multiplas_linhas_nao                                 7032 non-null   int64
 11  telefone.multiplas_linhas_sem_servico_telefone                7032 non-null   int64
 12  telefone.multiplas_linhas_sim                                 7032 non-null   int64
 13  internet.servico_de_internet_DSL                              7032 non-null   int64
 14  internet.servico_de_internet_fibra_optica                     7032 non-null   int64
 15  internet.servico_de_internet_nao                              7032 non-null   int64
 16  internet.seguranca_online_nao                                 7032 non-null   int64
 17  internet.seguranca_online_sem_servico_internet                7032 non-null   int64
 18  internet.seguranca_online_sim                                 7032 non-null   int64
 19  internet.backup_online_nao                                    7032 non-null   int64
 20  internet.backup_online_sem_servico_internet                   7032 non-null   int64
 21  internet.backup_online_sim                                    7032 non-null   int64
 22  internet.protecao_de_dispositivo_nao                          7032 non-null   int64
 23  internet.protecao_de_dispositivo_sem_servico_internet         7032 non-null   int64
 24  internet.protecao_de_dispositivo_sim                          7032 non-null   int64
 25  internet.suporte_tecnico_nao                                  7032 non-null   int64
 26  internet.suporte_tecnico_sem_servico_internet                 7032 non-null   int64
 27  internet.suporte_tecnico_sim                                  7032 non-null   int64
 28  internet.TV_a_cabo_nao                                        7032 non-null   int64
 29  internet.TV_a_cabo_sem_servico_internet                       7032 non-null   int64
 30  internet.TV_a_cabo_sim                                        7032 non-null   int64
 31  internet.assinatura_streaming_nao                             7032 non-null   int64
 32  internet.assinatura_streaming_sem_servico_internet            7032 non-null   int64
 33  internet.assinatura_streaming_sim                             7032 non-null   int64
 34  conta.tipo_de_contrato_mes_a_mes                              7032 non-null   int64
 35  conta.tipo_de_contrato_um_ano                                 7032 non-null   int64
 36  conta.tipo_de_contrato_dois_anos                              7032 non-null   int64
 37  conta.forma_de_pagamento_transferencia_bancaria (automatico)  7032 non-null   int64
 38  conta.forma_de_pagamento_cartao_de_credito (automatico)       7032 non-null   int64
 39  conta.forma_de_pagamento_cheque_eletronico                    7032 non-null   int64
 40  conta.forma_de_pagamento_cheque_por_correio                   7032 non-null   int64
dtypes: float64(2), int64(39)
memory usage: 2.3 MB

### Inserindo Nova Coluna:

In [42]:
df_dummies.insert(8, 'conta.valor_por_dia', '')
df_dummies

,Churn,cliente.gÃªnero,cliente.idoso,cliente.tem_parceiro,cliente.tem_dependentes,cliente.meses_de_contrato,telefone.servico_telefonico,conta.fatura_online,conta.valor_por_dia,conta.valor_por_mes,...,internet.assinatura_streaming_nao,internet.assinatura_streaming_sem_servico_internet,internet.assinatura_streaming_sim,conta.tipo_de_contrato_mes_a_mes,conta.tipo_de_contrato_um_ano,conta.tipo_de_contrato_dois_anos,conta.forma_de_pagamento_transferencia_bancaria (automatico),conta.forma_de_pagamento_cartao_de_credito (automatico),conta.forma_de_pagamento_cheque_eletronico,conta.forma_de_pagamento_cheque_por_correio
0,0,1,0,1,1,9,1,1,,65.60,...,1,0,0,0,1,0,0,0,0,1
1,0,0,0,0,0,9,1,0,,59.90,...,0,0,1,1,0,0,0,0,0,1
2,1,0,0,0,0,4,1,1,,73.90,...,1,0,0,1,0,0,0,0,1,0
3,1,0,1,1,0,13,1,1,,98.00,...,0,0,1,1,0,0,0,0,1,0
4,1,1,1,1,0,3,1,1,,83.90,...,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,0,0,0,13,1,0,,55.15,...,1,0,0,0,1,0,0,0,0,1
7039,1,0,0,1,0,22,1,1,,85.10,...,0,0,1,1,0,0,0,0,1,0
7040,0,0,0,0,0,2,1,1,,50.30,...,1,0,0,1,0,0,0,0,0,1
7041,0,0,0,1,1,67,1,0,,67.85,...,0,0,1,0,0,1,0,0,0,1
7042,0,0,0,1,1,63,0,0,,59.00,...,0,0,1,0,0,1,0,0,1,0

In [43]:
df_dummies['conta.valor_por_dia'] = (df_dummies['conta.valor_por_mes']*12/365).round(2)
df_dummies

,Churn,cliente.gÃªnero,cliente.idoso,cliente.tem_parceiro,cliente.tem_dependentes,cliente.meses_de_contrato,telefone.servico_telefonico,conta.fatura_online,conta.valor_por_dia,conta.valor_por_mes,...,internet.assinatura_streaming_nao,internet.assinatura_streaming_sem_servico_internet,internet.assinatura_streaming_sim,conta.tipo_de_contrato_mes_a_mes,conta.tipo_de_contrato_um_ano,conta.tipo_de_contrato_dois_anos,conta.forma_de_pagamento_transferencia_bancaria (automatico),conta.forma_de_pagamento_cartao_de_credito (automatico),conta.forma_de_pagamento_cheque_eletronico,conta.forma_de_pagamento_cheque_por_correio
0,0,1,0,1,1,9,1,1,2.16,65.60,...,1,0,0,0,1,0,0,0,0,1
1,0,0,0,0,0,9,1,0,1.97,59.90,...,0,0,1,1,0,0,0,0,0,1
2,1,0,0,0,0,4,1,1,2.43,73.90,...,1,0,0,1,0,0,0,0,1,0
3,1,0,1,1,0,13,1,1,3.22,98.00,...,0,0,1,1,0,0,0,0,1,0
4,1,1,1,1,0,3,1,1,2.76,83.90,...,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,0,0,0,13,1,0,1.81,55.15,...,1,0,0,0,1,0,0,0,0,1
7039,1,0,0,1,0,22,1,1,2.80,85.10,...,0,0,1,1,0,0,0,0,1,0
7040,0,0,0,0,0,2,1,1,1.65,50.30,...,1,0,0,1,0,0,0,0,0,1
7041,0,0,0,1,1,67,1,0,2.23,67.85,...,0,0,1,0,0,1,0,0,0,1
7042,0,0,0,1,1,63,0,0,1.94,59.00,...,0,0,1,0,0,1,0,0,1,0